h1 {
    color: brown;
}

span {
    color: green;
}
.container form{
    width: 50vw;
    display: grid;
    align-items: center;
    text-align: center;
}

.label {
    width: max-content;
    margin: 9px auto;
    display: grid;
    grid-template-areas: "input";
}
.input{
    grid-area: input;
    width: 300px;
    font: inherit;
    border-radius: 10px;
    border: 1px solid gray;
    padding: .7rem 1.5rem;
}
.label__name{
    grid-area: input;
    z-index: 100;
    width: max-content;
    margin-left: 1rem;
    padding: 0 .5rem;
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;
}
.input:hover + .label__name, 
.input:not(:placeholder-shown) + .label__name
{
    transform: translateY(-50%) scale(.7);
    background-color: white;
}
button{
    width: 8rem;
    height: 2rem;
    background-color: rgb(3, 187, 3);
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10vw;
  
}